.main-bg-color.h-100.text-center
  %ul
    - @profile&.errors&.full_messages&.each do |msg|
      %li= msg
    = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
      .d-flex.flex-column.mb-3
        = f.label 'プロフィール画像', class: 'base-font font-weight-bold pt-4'
        = f.label :avatar, class: 'mx-auto' do
          - if @profile&.avatar&.attached?
            = image_tag @profile.avatar, class: 'img profile-avatar cursor-pointer'
          - else 
            = image_tag '軍人のアイコン素材.png', class: 'img profile-avatar'
        = f.file_field :avatar, class: 'd-none'
      .field
        = f.label :name, '名前', class: 'base-font font-weight-bold'
        %br/
        = f.text_field :name, autofocus: true, class: 'form'
      .field
        = f.label :affiliation, '所属部隊', class: 'base-font font-weight-bold'
        %br/
        = f.text_field :affiliation, autofocus: true, class: 'form'
      -# .field
      -#   = f.label :content, '感想' , class: 'base-font font-weight-bold'
      -#   %br/
      -#   = f.text_area :content, class:'p-1 w-50'
      .actions
        = f.submit "編集する", class: 'btn btn_session py-3 px-4 base-font'
= javascript_pack_tag 'post_article'