.main-bg-color.h-100#show-account{data: {account_id: current_user.id}}
  .d-flex.flex-column
    %li.hoverdown.mx-auto.mt-4
      - if @profile&.avatar&.attached?
        = image_tag @profile.avatar, class: 'profile-avatar'
      - else 
        = image_tag '軍人のアイコン素材.png', class: 'profile-avatar'
      .hoverdown-content
        = link_to 'プロフィール編集', edit_profile_path
    .text-center.base-font.pt-3
      - if @profile&.name
        = @profile.name
      - else
        = current_user.account
  .d-flex.justify-content-center.my-4
    .d-flex.flex-column.mr-4
      = link_to 'フォロー', '#', class: 'link-color text-decoration-none base-font font-weight-bold'
      %p.text-center#follower-count 0
    .d-flex.flex-column.mr-4
      = link_to 'フォロワー', '#', class: 'link-color text-decoration-none base-font font-weight-bold'
      %p.text-center#following-count 0
    .d-flex.flex-column
      .base-font.text-center 所属部隊
      %p= @profile&.affiliation
  .mb-4.text-center
    .base-font.font-weight-bold.mb-2 自己紹介
    .d-inline-block.base-font
      = @profile&.introduction
  .tabs.justify-content-center.my-4
    = link_to profile_path, class: 'text-decoration-none' do
      .box-shadow.radius-200.tabs_item{class: "#{add_active_class(profile_path)}"}
        全ての投稿
    = link_to favorite_path, class: 'text-decoration-none' do
      .box-shadow.radius-200.tabs_item{class: "#{add_active_class(favorite_path)}"}
        いいねした投稿
  %p.text-center.font-weight-bold 
    投稿数  #{@articles.count}
  .container
    .row
      - @articles.each do |article|
        .col-sm-12.col-md-6.col-lg-4.col-xl-4
          .card.card-radius.box-shadow.mb-4{:style => "width: 250px;"}
            = link_to article_path(article) do
              - if article.image.attached?
                = image_tag article.image, class: 'card-img-top'
            .position-relative.p-1
              .font-weight-bold.title-size.text-center.mb-1
                = article.object 
              .d-flex.justify-content-between.mb-3.px-2
                .article-left
                  = link_to account_path(article.user) do
                    = image_tag article.user.avatar_image, class: 'article-avatar'
                  = article.user.display_name
                .article-right.pt-2
                  = image_tag 'コメントの無料アイコン.png', class: 'article-img'
                  = article.comments.count
                  = image_tag '無料のいいねの手のアイコン素材 .png', class: 'article-img ml-1'
                  = article.likes.count
              = link_to '#タグ','#', class: 'p-2 mb-2 mr-1 tug-bg radius-200 font-weight-bold text-decoration-none link-color sm-font'
              = link_to '#鉄棒,中帽','#', class: 'p-2 mb-2 tug-bg radius-200 font-weight-bold text-decoration-none link-color sm-font'
              = link_to '#鉄棒,中帽','#', class: 'p-2 mb-2 tug-bg radius-200 font-weight-bold text-decoration-none link-color sm-font'
            .text-right.my-1.mr-3 1日前
= javascript_pack_tag 'account'