.search-box
  = form_with url: search_rakutens_path, method: :get, local: true do |f|
    .form-group
      = f.text_field :keyword, class: "form-control"
      = f.submit '自衛隊', class: "form-control btn btn-success"
- if @senjins.present?
  %h2 戦人アイテム
  %h4 アイテム数 #{@senjins.count}
  - @senjins.each do |item|
    = item['itemName']
    = item['itemPrice']
    平均評価#{item['reviewAverage']}
    = link_to (image_tag(item['mediumImageUrls'][0])), item['item_url']
  = paginate @senjins
