.sign
  .sign-left
    %p
      購入したアイテムの口コミを投稿して、よりパフォーマンスに優れたアイテムを探そう！
  .sign-right
    .sign-title Soldier Reviews
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .mb-4
        = f.label :account, 'アカウント名'
        %br/
        = f.text_field :account, autofocus: true, autocomplete: "account"
      .mb-4
        = f.label :email, 'メールアドレス'
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .mb-4
        = f.label :password, 'パスワード'
        - if @minimum_password_length
          %em
            (#{@minimum_password_length}文字以上)
        %br/
        = f.password_field :password, autocomplete: "new-password"
      .mb-4
        = f.label :password_confirmation, '確認用パスワード'
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password"
      .actions
        = f.submit "新規登録", class: 'sign-btn reg-btn mb-4'
        %br/
        = render "devise/shared/links"

