.main-bg-color.text-center
  %ul
    - @article.errors.full_messages.each do |msg|
      %li= msg
  = form_with(model: @article, local: true) do |f|
    .field.d-flex.flex-column
      = f.label '画像(一枚添付してください)', class: 'base-font font-weight-bold pt-4'
      = f.label :image, class: 'mx-auto' do
        = image_tag 'ee47cc9f0ea12db235d9ed76497d583f.jpg', class: 'post-img cursor-pointer'
      = f.file_field :image, class: 'd-none'
    .field
      = f.label :object, '物品名', class: 'base-font font-weight-bold'
      %br/
      = f.text_field :object, autofocus: true, class: 'radius-200 border border-secondary'
    .field
      = f.label :price, '購入金額', class: 'base-font font-weight-bold'
      %br/
      = f.text_field :price, autofocus: true, class: 'radius-200 border border-secondary'
    .field
      = f.label :store, '購入場所', class: 'base-font font-weight-bold'
      %br/
      = f.text_field :store, autofocus: true,class: 'radius-200 border border-secondary'  
    .field.mx-5
      = f.label :category_id, 'カテゴリ', class: 'base-font font-weight-bold'
      %br/
      = f.collection_radio_buttons :category_id, Category.all, :id, :category_name do |t|
        = t.radio_button
        = t.label
    .field 
      %span.base-font.font-weight-bold 
        タグ(3つまで)
      %br/
      = f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |t|
        = t.label do
          = t.check_box
          = t.text
    .field  
      #star
        %div= f.label :rate,'星評価', class: 'base-font font-weight-bold'
        = f.hidden_field :rate, id: :review_star
    .field
      = f.label :content, '感想' , class: 'base-font font-weight-bold'
      %br/
      = f.text_area :content, class:'p-1 w-50 content-form'
    .actions
      = f.submit "投稿する", class: 'btn-bg border border-secondary py-2 px-4 font-weight-bold radius-200 mb-3 hover base-font'
= javascript_pack_tag 'post_article'
= javascript_pack_tag 'raty'
:javascript
  $('#star').raty({
    starOff:  '#{asset_path('star-off.png')}',
    starOn : '#{asset_path('star-on.png')}',
    scoreName: 'article[rate]',
    half: false,
  })