.main-bg-color.text-center
  %ul
    - @article.errors.full_messages.each do |msg|
      %li= msg
  .post
    = form_with(model: @article, local: true) do |f|
      .post-image
        = f.label '画像(一枚添付してください)', class: 'post-label'
        = f.label :image, class: 'mx-auto' do
          = image_tag 'ee47cc9f0ea12db235d9ed76497d583f.jpg', class: 'click-image', id: 'post-img'
        = f.file_field :image, class: 'd-none'
      .mb-4
        = f.label :object, '物品名', class: 'base-label'
        %br/
        = f.text_field :object, autofocus: true
      .mb-4
        = f.label :price, '購入金額', class: 'base-label'
        %br/
        = f.text_field :price, autofocus: true
      .mb-4
        = f.label :store, '購入場所', class: 'base-label'
        %br/
        = f.text_field :store, autofocus: true
      .mb-4
        = f.label :category_id, 'カテゴリ', class: 'base-label'
        %br/
        = f.collection_radio_buttons :category_id, Category.all, :id, :category_name do |t|
          = t.radio_button
          = t.label
      .mb-4
        = f.label :tag_ids, 'タグ(3つまで)', class: 'base-label'
        %br/
        = f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |t|
          = t.label do
            = t.check_box
            = t.text
      .mb-4
        #star
          %div= f.label :rate,'星評価', class: 'base-label'
          = f.hidden_field :rate, id: :review_star
      .mb-4
        = f.label :content, '感想' , class: 'base-label'
        %br/
        = f.text_area :content, class:'content-form'
      .pb-4
        = f.submit "投稿する", class: 'post-btn btn-bg'
  = javascript_pack_tag 'change_image'
  = javascript_pack_tag 'raty'
  :javascript
    $('#star').raty({
      starOff:  '#{asset_path('star-off.png')}',
      starOn : '#{asset_path('star-on.png')}',
      scoreName: 'article[rate]',
      half: false,
    })