.main-bg-color
  = link_to new_article_path do
    .new-path-img
      %i.fas.fa-camera.fa-4x
  .main
    .main-logo
      優秀なアイテムを共有して
      %br
      パフォーマンスを最大限まで上げよう
    = search_form_for @q, url: search_articles_path do |f|
      = f.search_field :object_or_price_or_store_cont, placeholder: "物品名, 金額, 購入場所から検索", class: 'main-search'
      = button_tag type: 'submit', class: 'icon' do
        %i.fas.fa-search.fa-2x
    .main-tug
      .main-tug-title
        %span 人気のタグ
      .main-tug-wrap
        - @top_tags.each do |tag|
          = link_to "##{tag.name}", search_articles_path(q: { tags_id_eq: tag.id }), class: 'main-tug-top'
  .article
    .article-left
      = render 'detail_search' 
    .article-right
      .article-right-top
        %span いいねの多い投稿
      .container
        .row
          = render 'commons/articles', articles: @ranking_articles
      .cate
        .cate-box
          .cate-title
            %span 人気のカテゴリ
          .cate-top5
            - @top_categorys.each do |category|
              = link_to "#{category.category_name}", search_articles_path(q: { category_id_eq: category.id }), class: 'categorys'
      .top-cate
        .top-cate-article
          %span
            -if @top_categorys.present?
              = link_to "##{@top_categorys.first.category_name}の投稿", search_articles_path(q: { category_id_eq: @top_categorys.first.id })
        .container
          .row
            = render 'commons/articles', articles: @top_category_articles
      .new-article
        .new-article-title
          %span 最新の投稿
      .container
        .row
          = render 'commons/articles', articles: @new_articles