.main-bg-color
  .text-center
    = search_form_for @q, url: search_articles_path do |f|
      = f.search_field :object_or_price_or_store_or_category_id_cont, class: 'search_container w-25', placeholder: "キーワードを入力"
      = f.submit '検索', class: 'btn p-1'
    = search_form_for @q, url: search_articles_path do |f|
      -# \〜以上の検索
      = f.label :price_gteq, "価格"
      = f.number_field :price_gteq, class: 'form w-25', placeholder: "金額を入力"
      -#\〜以下の検索
      = f.label :price_lteq, " ~ "
      = f.number_field :price_lteq, class: 'form w-25'
      = f.submit '検索', class: 'btn p-1'
      = f.collection_select :category_id_eq, Category.all, :id, :category_name, {prompt: "カテゴリから選択"}
    = search_form_for @q, url: search_articles_path do |f|  
      = f.label :tags_id_eq
      = f.collection_select :tags_id_eq, Tag.all, :id, :name, {prompt: "タグから選択"}
      = f.submit '検索', class: 'btn p-1'
  - @results&.each do |article|
    .container
      .row
        .col-sm-12.col-md-6.col-lg-4.col-xl-4
          .card.card-radius.box-shadow.mb-4{:style => "width: 250px;"}
            = link_to article_path(article) do
              - if article.image.attached?
                = image_tag article.image, class: 'card-img-top'
            .position-relative.p-1
              .font-weight-bold.title-size.text-center
                = article.object 
              .d-flex.justify-content-between.mb-3.px-2
                .article-left
                  = link_to account_path(article.user) do
                    = image_tag article.user.avatar_image, class: 'article-avatar'
                  = article.user.display_name
                .article-right.pt-2
                  = image_tag 'コメントの無料アイコン.png', class: 'article-img'
                  = article.comments.count
                  = image_tag '無料のいいねの手のアイコン素材 .png', class: 'article-img ml-1'
                  = article.likes.count
                .d-flex.justify-content-between 
                  - article.tags.each do |tag|
                    %span.py-1.px-3.mb-2.mr-1.tug-bg.radius-200.font-weight-bold
                      = tag.name
  .title-size.font-weight-bold.py-3
    .text-center いいねランキング
  .container
    .row
      - @ranking_articles.each.with_index(1) do |ranking_article, number|
        .col-sm-12.col-md-6.col-lg-4.col-xl-4
          .d-flex.flex-column.base-font.font-weight-bold
            %span 第#{number}位
            .card.card-radius.box-shadow.mb-4{:style => "width: 250px;"}
              = link_to article_path(ranking_article) do
                - if ranking_article.image.attached?
                  = image_tag ranking_article.image, class: 'card-img-top'
              .position-relative.p-1.mb-2
                .font-weight-bold.title-size.text-center
                  = ranking_article.object 
                .d-flex.justify-content-between.mb-3.px-2
                  .article-left
                    = link_to account_path(ranking_article.user) do
                      = image_tag ranking_article.user.avatar_image, class: 'article-avatar'
                    = ranking_article.user.display_name
                  .article-right.pt-2
                    = image_tag 'コメントの無料アイコン.png', class: 'article-img'
                    = ranking_article.comments.count
                    = image_tag '無料のいいねの手のアイコン素材 .png', class: 'article-img ml-1'
                    = ranking_article.likes.count
                .d-flex.justify-content-between
                  - ranking_article.tags.each do |tag|
                    %span.py-2.px-3.mb-2.mr-1.tug-bg.radius-200.font-weight-bold
                      = tag.name
  = render 'commons/articles'
  .tabs.justify-content-center.title-size.my-4
    = link_to root_path, class: 'text-decoration-none' do
      .box-shadow.radius-200.py-3.px-4.mr-2.tabs_item{class: "#{add_active_class(root_path)}"}
        全ての投稿
    = link_to timeline_path, class: 'text-decoration-none' do
      .box-shadow.radius-200.py-3.px-4.ml-2.tabs_item{class: "#{add_active_class(timeline_path)}"}
        タイムライン
  
  %nav{"aria-label" => "Page navigation example"}
    %ul.pagination.mx-auto
      %li.page-item
        %a.page-link{"aria-label" => "Previous", :href => "#"}
          %span{"aria-hidden" => "true"} «
          %span.sr-only Previous
      %li.page-item
        %a.page-link{:href => "#"} 1
      %li.page-item
        %a.page-link{:href => "#"} 2
      %li.page-item
        %a.page-link{:href => "#"} 3
      %li.page-item
        %a.page-link{"aria-label" => "Next", :href => "#"}
          %span{"aria-hidden" => "true"} »
          %span.sr-only Next
