.main-bg-color
  = link_to new_article_path do
    .new-path-img
      %i.fas.fa-camera.fa-4x
  = link_to 'https://www.mod.go.jp/gsdf/jieikanbosyu/about/' do
    .article-top-img
      = image_tag '自衛隊募集.jpeg', class: 'article-img'
  .article
    .article-main
      .article-main-top
        %span いいねランキング
      .container
        .row
          = render 'commons/articles', articles: @three_articles_with_many_likes
      .cate
        .cate-box
          .cate-title
            %span 人気のカテゴリ
          .cate-top5
            - @five_categorys.each do |category|
              .cate-item
                = link_to "#{category.category_name}", search_articles_path(q: { category_id_eq: category.id }), class: 'categorys'
      .top-cate
        .top-cate-article
          %span
            - if @top_category_all_articles.present?
              = link_to "##{@top_category.category_name}の投稿", search_articles_path(q: { category_id_eq: @top_category.id })
        .container
          .row
            = render 'commons/articles', articles: @top_category_all_articles
        .top-cate-article
          %span
            - if @second_category_all_articles.present?
              = link_to "##{@second_category.category_name}の投稿", search_articles_path(q: { category_id_eq: @second_category.id })
        .container
          .row
            = render 'commons/articles', articles: @second_category_all_articles
      .cate
        .cate-box
          .cate-title
            %span 人気のタグ
          .cate-top5
            - @five_tags.each do |tag|
              .cate-item
                = link_to "##{tag.name}", search_articles_path(q: { tags_id_eq: tag.id }), class: 'categorys'
      .new-article
        .new-article-title
          %span 最新の投稿
      .container
        .row
          = render 'commons/articles', articles: @updated_at_desc_articles
