.main-bg-color
  = link_to new_article_path do
    .new-path-img
      = image_tag 'カメラのアイコン素材 6.png'
  .article
    .article-left
      = render 'detail_search'
    .article-right
      - if @results.count == 0
        .xg-font 一致する項目は見つかりません
      - else
        %span.result
          検索結果
        .sort
          .sort-title
            並び替え
          .sort-box
            = sort_link(@q, :object, '物品名',{}, { class: 'sort-value' })
            = sort_link(@q, :price, '購入金額',{}, { class: 'sort-value' })
            = sort_link(@q, :store, '購入場所',{}, { class: 'sort-value' })
            = sort_link(@q, :rate, '星評価',{}, { class: 'base-font' })
          .container
            .row
              = render 'commons/articles', articles: @results
          .py-3
            = paginate @results