.main-bg-color
  %h1 記事検索
  = search_form_for @q, url: search_articles_path do |f|
    = f.label :object_cont, 'オブジェクト'
    = f.search_field :object_cont
    %br/
    = f.submit '検索'
.container
  .row
    - @results.each do |article|
      .col-sm-12.col-md-6.col-lg-4.col-xl-4
        = render 'commons/articles', article: article

  