.main-bg-color#article-show{data: {article_id: @article.id}}
  .container
    .row.justify-content-center.pt-4
      .card-radius{:style => "width: 400px;"}
        - if @article.image.attached?
          = image_tag @article.image, class: 'card-img-top'
      .card-radius.position-relative.bg-white.box-shadow.p-3{:style => "width: 400px;"}
        .d-flex.mb-2.position-relative
          .base-font.font-weight-bold 物品名
          .base-font.mx-auto 
            = @article.object
          .position
            = link_to account_path(@article.user) do
              = image_tag @article.user.avatar_image, class: 'user-avatar'
          - if user_signed_in? && current_user.has_written?(@article)
            %li.hoverdown.show-icon-position
              = image_tag 'more-button-of-three-dots_icon-icons.com_74259.png'
              .hoverdown-content.base-font
                = link_to '編集', edit_article_path(@article)                
                = link_to '削除', article_path(@article), data: { method: 'delete', confirm: '本当に削除してもよろしいですか' }
        .d-flex.mb-2
          .base-font.font-weight-bold 購入金額
          .base-font.mx-auto 
            #{@article.price}円
        .d-flex.mb-2
          .base-font.font-weight-bold 購入場所
          .base-font.mx-auto 
            = @article.store
        .d-flex.mb-2
          .base-font.font-weight-bold カテゴリ
          .base-font.mx-auto 
            = @article.category.category_name
        .d-flex.mb-2
          .base-font.font-weight-bold 評価
          %div.mx-auto{:id => "star-rate#{@article.id}"}
          :javascript
            $('#star-rate#{@article.id}').raty({
              size      : 36,
              starOff   : '#{asset_path('star-off.png')}',
              starOn    : '#{asset_path('star-on.png')}',
              half      : false,
              readOnly: true,
              score: #{@article.rate},
            });
        .base-font.mb-2.font-weight-bold 感想
        %p.mb-2=@article.content
        - @article.tags.each do |tag|
          %span.py-2.px-3.mb-2.mr-1.tug-bg.radius-200.font-weight-bold
            = tag.name
        = image_tag '無料のいいねの手のアイコン素材.png', class: 'article-img ml-1 good-img cursor-pointer d-none', id: 'good'
        = image_tag '無料のいいねの手のアイコン素材 .png', class: 'article-img ml-1 good-img cursor-pointer d-none', id: 'notgood'
        %span.count-position#likes-count  0
        %span.sm-font.post-time １日前
  .text-center
    .show-comment-form.py-1.px-4.m-4.btn.font-weight-bold.base-font
      コメントを投稿
    .comment-text-area.d-none
      .mt-4
        = text_area_tag :comment_content, '', class: 'h-120px w-50'
      .py-1.px-4.m-4.btn.font-weight-bold.text-center.base-font#add-comment-button
        コメントを追加
  .comment
= javascript_pack_tag 'show_article'