.main-bg-color.h-100#article-show{data: {article_id: @article.id}}
  .show
    .show-img
      - if @article.image.attached?
        = image_tag @article.image, class: 'card-img-top'
    .show-reviews
      .object
        .object-title
          物品名
        .object-value
          = @article.object
        .show-avatar-box
          = link_to account_path(@article.user) do
            = image_tag @article.user.avatar_image, class: 'user-avatar'
        - if user_signed_in? && current_user.has_written?(@article)
          %li.hoverdown.show-icon
            = image_tag 'more-button-of-three-dots_icon-icons.com_74259.png'
            .hoverdown-content.base-font
              = link_to '編集', edit_article_path(@article)                
              = link_to '削除', article_path(@article), data: { method: 'delete', confirm: '本当に削除してもよろしいですか' }
      .price
        .price-title 
          購入金額
        .price-value
          #{@article.price}円
      .store
        .store-title 
          購入場所
        .store-value
          = @article.store
      .category
        .category-title 
          カテゴリ
        .category-value
          = @article.cat_name
      .rate
        .rate-title 
          評価
        .rate-position{id: "star-rate#{@article.id}"}
        :javascript
          $('#star-rate#{@article.id}').raty({
            size      : 36,
            starOff   : '#{asset_path('star-off.png')}',
            starOn    : '#{asset_path('star-on.png')}',
            half      : false,
            readOnly: true,
            score: #{@article.rate},
          });
      .content
        感想
      .content-value
        = @article.content
      - @article.tags.each do |tag|
        %span.show-tugs
          #{tag.name}
      = image_tag '無料のいいねの手のアイコン素材.png', class: 'show-like d-none', id: 'good'
      = image_tag '無料のいいねの手のアイコン素材 .png', class: 'show-like d-none', id: 'notgood'
      %span.show-count#likes-count 0
      %span.post-time
        %time(datetime="#{@article.created_at}")
          = time_ago_in_words(@article.created_at) + "前"
    - if @top_items.present?
      .rakuten-api
        %span.top-review 楽天市場の同アイテム(評価4.5以上)
        .rakuten-items
          - @top_items.each do |item|
            .rakuten-item
              .api-img
                = link_to item['item_url'] do
                  = image_tag item['mediumImageUrls'][0], class: 'item-img'
              .api-content
                = item['itemName']
                = item['itemPrice']
                平均評価#{item['reviewAverage']}
    .comment
      .comment-form
        %span.comment-post.btn-bg
          コメントを投稿
      .comment-area.d-none
        .mt-4
          = text_area_tag :comment_content, '', class: 'comment-text'
        .my-4
          %span.add-comment.btn-bg#add-comment-button
            コメントを追加
      %span.comment-all
        コメント一覧
      .comments
  = javascript_pack_tag 'show_article'