.main-bg-color.h-100
  .text-center.title-size.font-weight-bold.pt-4
    %div= @user.display_name
    %div= @user.account
  .tabs.justify-content-center.my-4
    = link_to account_actives_path, class: 'text-decoration-none' do
      .box-shadow.radius-200.tabs_item{class: "#{add_active_class(account_actives_path)}"}
        フォロー
    = link_to myfavorite_path, class: 'text-decoration-none' do
      .box-shadow.radius-200.tabs_item{class: "#{add_active_class(myfavorite_path)}"}
        フォロワー
  - @users.each do |user|
    .d-flex.justify-content-between.mb-2.bg-white.border.w-50.mx-auto.card-radius
      %div#show-account{data: {account_id: user.id}}
        = link_to account_path(user.id) do
          = image_tag user.avatar_image, class: 'user-avatar'
        %span.pt-2.sm-font 
          = user.display_name
      .d-flex.flex-column.sm-font
        %span フォロー数
        .text-center#following-count 0
      .d-flex.flex-column.sm-font
        %span フォロワー数
        .text-center#follower-count 0
      .sm-font.btn.font-weight-bold.d-none#follow-btn
        フォロー
      .py-1.px-1.btn.font-weight-bold.bg-light.pt-2.d-none#unfollow-btn
        フォロー中
= javascript_pack_tag 'account'

