.main-bg-color
  .mypage.mx-auto
    .mypage-left.text-left
      .mypage-list
        = link_to favorite_path, class: 'mypage-list-tub' do
          マイページ
      .mypage-list
        = link_to edit_profile_path, class: 'mypage-list-tub' do
          プロフィール編集
      .mypage-list
        = link_to profile_path, class: 'mypage-list-tub' do
          お知らせ
      .mypage-list
        = link_to myarticle_path, class: 'mypage-list-tub' do
          自分の投稿
      .mypage-list
        = link_to favorite_path, class: 'mypage-list-tub' do
          お気に入り
      .mypage-list
        = link_to favorite_path, class: 'mypage-list-tub' do
          フォローした人の投稿
      .mypage-list
        = link_to buy_path, class: 'mypage-list-tub' do
          購入リスト
      .mypage-list
        = link_to favorite_path, class: 'mypage-list-tub' do
          フォローリスト
      .mypage-list
        = link_to favorite_path, class: 'mypage-list-tub' do
          フォロワーリスト
      .mypage-list
        = link_to favorite_path, class: 'mypage-list-tub' do
          投稿
    
    .mypage-right
      .tab
        .d-flex
          .tab_list.w-50
            = link_to followinglist_path do
              .tabs_item{class: "#{add_active_class(followinglist_path)}"}
                フォローリスト
          .tab_list.w-50
            = link_to followerlist_path do
              .tabs_item{class: "#{add_active_class(followerlist_path)}"}
                フォロワーリスト
        - @users.each do |user|
          .follower-list
            .notification-avatar
              .d-flex
                = link_to account_path(user) do
                  = image_tag user.avatar_image, class: 'account-avatar'
                .notification-content
                  = link_to account_path(user), class: 'text-success'do
                    = user.display_name
                  = user.if_affiliation
              .d-flex.ml-5
                .d-flex.flex-column.text-center 
                  %span フォロー
                  %span= user.follower_count
                .d-flex.flex-column.text-center 
                  %span フォロワー
                  %span= user.follow_count