.main-bg-color.h-100#show-account{data: {account_id: @user.id}}  
  = render 'commons/user_info', user: @user
  .tabs
    = link_to account_path(@user.id) do
      .tabs_item{class: "#{add_active_class(account_path(@user.id))}"}
        全ての投稿
    = link_to account_favorite_path(@user.id) do
      .tabs_item{class: "#{add_active_class(account_favorite_path(@user.id))}"}
        いいねした投稿
    = link_to account_othertimeline_path(@user.id) do
      .tabs_item{class: "#{add_active_class(account_othertimeline_path(@user.id))}"}
        フォローした人の投稿
  .post-count
    %p 投稿数  #{@articles.count}
  .container
    .row
      = render 'commons/articles', articles: @articles
= javascript_pack_tag 'account'