= render 'commons/user_info', user: @user
.tabs.justify-content-center.my-3
  = link_to account_path(@user.id), class: 'text-decoration-none' do
    .box-shadow.radius-200.tabs_item{class: "#{add_active_class(account_path(@user.id))}"}
      全ての投稿
  = link_to account_favorite_path(@user.id), class: 'text-decoration-none' do
    .box-shadow.radius-200.tabs_item{class: "#{add_active_class(account_favorite_path(@user.id))}"}
      いいねした投稿
%p.text-center.font-weight-bold 
  投稿数  #{@articles.count}
= render 'commons/articles'
= javascript_pack_tag 'account'