- articles.each do |article|
  .articles
    .mb-3.card{style: "width: 10rem"}
      .articles-img
        = link_to article_path(article), id: 'show-link' do
          - if article.image.attached?
            = image_tag article.image, class: 'card-img-top hover'
      .articles-body
        .card-text.mt-1
          = article.author_name
          = link_to account_path(article.user) do
            = image_tag article.author_image, class: 'user-avatar author'
        .card-text.mt-1
          = article.cat_name
        .card-text.mt-1.font-weight-bold
          ¥#{article.price}
        .mt-1
          - article.tags.each do |tag|
            = link_to "#{tag.name}", search_articles_path(q: { tags_id_eq: tag.id }), class: 'articles-tag'
        .articles-info
          %i.far.fa-comment.pt-1.icon-size
          %span.info-size= article.comment_count
          %i.far.fa-thumbs-up.pt-1.pl-1.icon-size
          %span.info-size= article.like_count
          %i.far.fa-star.pt-1.pl-1.icon-size
          %span.info-size= article.rate
        .articles-time
          %time(datetime="#{article.created_at}")
            = time_ago_in_words(article.created_at) + "前"