- articles.each do |article|
  .articles
    .card.articles-card
      = link_to article_path(article) do
        - if article.image.attached?
          = image_tag article.image, class: 'card-img-top hover'
      .articles-price
        #{article.price}円
      .articles-star
        星評価 #{article.rate}
      .articles-info
        .objects
          = article.object 
        .author
          .author-left
            = link_to account_path(article.user) do
              = image_tag article.author_image, class: 'user-avatar'
            %span.author-name
              = article.author_name
          .author-right
            = image_tag 'コメントの無料アイコン.png', class: 'articles-img'
            = article.comment_count
            = image_tag '無料のいいねの手のアイコン素材 .png', class: 'articles-img ml-1'
            = article.like_count
        .articles-tags
          - article.tags.each do |tag|
            %span.articles-tag
              %span #{tag.name}
        .articles-time
          %time(datetime="#{article.created_at}")
            = time_ago_in_words(article.created_at) + "前"