.mypage-right-list-title
  = title
.list-title
  - if @articles.present?
    .post-count.pb-3
      %p #{count}  #{@articles.count}
    .container
      .row
        = render 'commons/articles', articles: articles
  - else
    = none

          
    