.tab_list.w-50
  = link_to path_left do
    .tabs_item{class: "#{add_active_class(path_left)}"}
      = tab_left
.tab_list.w-50
  = link_to path_right do
    .tabs_item{class: "#{add_active_class(path_right)}"}
      = tab_right