.main-bg-color.h-100#show-account{data: {account_id: current_user.id}}
  = render 'commons/user_info', user: current_user
  .tabs.justify-content-center.my-3
    = link_to profile_path, class: 'text-decoration-none' do
      .box-shadow.radius-200.tabs_item{class: "#{add_active_class(profile_path)}"}
        全ての投稿
    = link_to myfavorite_path, class: 'text-decoration-none' do
      .box-shadow.radius-200.tabs_item{class: "#{add_active_class(myfavorite_path)}"}
        いいねした投稿
  %p.text-center.font-weight-bold 
    投稿数  #{@articles.count}
  = render 'commons/articles'
= javascript_pack_tag 'account'