.senjin-item.mx-auto
  .api-img
    = link_to item_url do
      = image_tag image_urls
  .api-content
    .api
      .api-title
        購入金額
      .api-value
        #{item_price}円
    .api
      .api-title 
        平均評価
      .api-value
        #{review_average}
    .buy-list.mt-2
  - if current_user.has_buylist?(item)
    .not-buy#unfollow-btn
      = link_to '購入リストから解除', rakuten_buylist_path(item), method: 'delete',class: 'rakuten-delete'
  - else
    .buy#follow-btn
      = link_to '購入リストに登録', rakuten_buylist_path(item), method: 'post',class: 'rakuten-post'