.user-info
  %li.hoverdown.user-info-avatar
    = image_tag user.avatar_image, class: 'profile-avatar'
    - if user == current_user
      .hoverdown-content
        = link_to 'プロフィール編集', edit_profile_path
  .user-info-name
    = user.display_name
  - unless user == current_user
    .follow-count
      %span.follow.d-none#follow-btn
        フォロー
      %span.following.d-none#unfollow-btn
        フォロー中
.info-box
  .followings
    = link_to 'フォロー', account_actives_path(user.id)
    %p.text-center#following-count 0
  .followers
    = link_to 'フォロワー', account_passives_path(user.id)
    %p.text-center#follower-count 0
  .affili
    .affili-title 所属部隊
    %p= user.if_affiliation
.intro
  .intro-title 自己紹介
  .intro-area
    = user.if_intro