.d-flex.flex-column
  %li.hoverdown.mx-auto.mt-4
    - if @profile&.avatar&.attached?
      = image_tag @profile.avatar, class: 'profile-avatar'
    - else 
      = image_tag '軍人のアイコン素材.png', class: 'profile-avatar'
    .hoverdown-content
      = link_to 'プロフィール編集', edit_profile_path
  .text-center.base-font.pt-3
    - if @profile&.name
      = @profile.name
    - else
      = user.account
  - unless user == current_user
    .text-center.mt-3
      %span.bg.border.border-secondary.py-2.px-3.font-weight-bold.radius-200.hover.cursor-pointer.d-none#follow-btn
        フォロー
      %span.border.border-secondary.py-2.px-3.font-weight-bold.radius-200.hover.cursor-pointer.bg-light.d-none#unfollow-btn
        フォロー中
.d-flex.justify-content-center.my-4
  .d-flex.flex-column.mr-4
    = link_to 'フォロー', account_actives_path(user.id), class: 'link-color text-decoration-none base-font font-weight-bold'
    %p.text-center#following-count 0
  .d-flex.flex-column.mr-4
    = link_to 'フォロワー', '#', class: 'link-color text-decoration-none base-font font-weight-bold'
    %p.text-center#follower-count 0
  .d-flex.flex-column
    .base-font.text-center 所属部隊
    %p= @profile&.affiliation
.mb-4.text-center
  .base-font.mb-2 自己紹介
  .base-font.mx-auto.border.introduction-box
    = @profile&.introduction