.main-bg-color
  .users
    .users-avatar
      = image_tag @user.avatar_image, class: 'profile-avatar'
    .users-name
      = @user.display_name
    .tabs
      = link_to account_actives_path(@user.id) do
        .tabs_item{class: "#{add_active_class(account_actives_path(@user.id))}"}
          フォロー
      = link_to account_passives_path(@user.id) do
        .tabs_item{class: "#{add_active_class(account_passives_path(@user.id))}"}
          フォロワー
    - @users.each do |user|
      .users-group
        .users-info
          = link_to account_path(user.id) do
            = image_tag user.avatar_image, class: 'account-avatar'
          %span.follow-name
            = user.display_name
        .counts
          .counts-followings
            %span フォロー数
            .text-center
              = user.follow_count
          .counts-followers
            %span フォロワー数
            .text-center
              = user.follower_count