.sign
  .sign-left
    %p
      購入したアイテムの口コミを投稿して、よりパフォーマンスに優れたアイテムを探そう！
  .sign-right
    .sign-title Soldier Reviews
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .mb-4
        = f.label :email, 'メールアドレス'
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .mb-4
        = f.label :password, 'パスワード'
        %br/
        = f.password_field :password, autocomplete: "current-password"
      - if devise_mapping.rememberable?
        .mb-4
          = f.check_box :remember_me
          = f.label :remember_me, 'ログインを記憶する'
      .actions
        = f.submit "ログイン", class: 'sign-btn mb-4'
      %div 
        = link_to 'ゲストログイン', users_guest_sign_in_path, method: 'post', class: 'sign-btn'
        