.main-bg-color
  .tabs.justify-content-center.title-size.my-4
    = link_to root_path, class: 'text-decoration-none' do
      .box-shadow.radius-200.py-3.px-4.mr-2.tabs_item{class: "#{add_active_class(root_path)}"}
        全ての投稿
    = link_to timeline_path, class: 'text-decoration-none' do
      .box-shadow.radius-200.py-3.px-4.ml-2.tabs_item{class: "#{add_active_class(timeline_path)}"}
        タイムライン
  .container
    .row
      - @articles.each do |article|
        = render 'commons/articles', article: article
  %nav{"aria-label" => "Page navigation example"}
    %ul.pagination.mx-auto
      %li.page-item
        %a.page-link{"aria-label" => "Previous", :href => "#"}
          %span{"aria-hidden" => "true"} «
          %span.sr-only Previous
      %li.page-item
        %a.page-link{:href => "#"} 1
      %li.page-item
        %a.page-link{:href => "#"} 2
      %li.page-item
        %a.page-link{:href => "#"} 3
      %li.page-item
        %a.page-link{"aria-label" => "Next", :href => "#"}
          %span{"aria-hidden" => "true"} »
          %span.sr-only Next
