.main-bg-color
  .mypage.mx-auto
    .mypage-left.text-left
      .mypage-list
        = link_to mypage_path, class: 'mypage-list-tub' do
          マイページ
      .mypage-list
        = link_to edit_profile_path, class: 'mypage-list-tub' do
          プロフィール編集
      .mypage-list
        = link_to profile_path, class: 'mypage-list-tub' do
          お知らせ
      .mypage-list
        = link_to myarticle_path, class: 'mypage-list-tub' do
          自分の投稿
      .mypage-list
        = link_to favorite_path, class: 'mypage-list-tub' do
          お気に入り
      .mypage-list
        = link_to favorite_path, class: 'mypage-list-tub' do
          フォローした人の投稿
      .mypage-list
        = link_to buy_path, class: 'mypage-list-tub' do
          購入リスト
      .mypage-list
        = link_to followerlist_path, class: 'mypage-list-tub' do
          フォローリスト
      .mypage-list
        = link_to followinglist_path, class: 'mypage-list-tub' do
          フォロワーリスト
      .mypage-list
        = link_to favorite_path, class: 'mypage-list-tub' do
          投稿
    .mypage-right
      .mypage-avatar
        .mypage-mask.pt-3
          = image_tag current_user.avatar_image, class: 'profile-avatar'
          .myname
            = current_user.display_name
        .text-center
          .mypage-info.pt-3
            .follow
              %p フォロー
              %p= current_user.followings.count
            .follow
              %p フォロワー
              %p= current_user.followers.count
            .follow
              %p  所属部隊
              %p= current_user.if_affiliation
          .intro.pt-4
            %p.intro-title-size 自己紹介
            %p.intro-size= current_user.if_intro