!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SdfApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'load'
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0", :name => "viewport"}/
    = favicon_link_tag("/app/images/favicon.png")
  %body
    .header-img
      .bg-mask
        .d-flex
          - if !current_page?(root_path)
            = link_to :back do
              %i.fas.fa-arrow-left
          = link_to 'Soldier Reviews', root_path, class: 'app-title'
          .mx-auto
            = search_form_for @q, url: search_articles_path do |f|
              = f.search_field :object_or_price_or_store_cont, placeholder: "アイテムを検索", class: 'main-search'
              = button_tag type: 'submit', class: 'detail-icon icone-size' do
                %i.fas.fa-search
          - unless user_signed_in?
            .d-flex
              = link_to new_user_registration_path, class: 'sign-btn btn-posi pt-2' do
                %span 新規登録
              = link_to new_user_session_path, class: 'sign-btn btn-posi pt-2' do
                %span ログイン
        .d-flex.justify-content-between
          .a.d-flex.pt-2
            - if user_signed_in?
              %li.hoverdown
                .header-cotegory
                  %i.fas.fa-list-ul.header-icon.header-icon-color.mr-1
                  .header-list.mr-4 カテゴリーから検索
                .hoverdown-content
                  - @categorys.each do |category|
                    .cate-item
                      = link_to "#{category.category_name}", search_articles_path(q: { category_id_eq: category.id })
              %li.hoverdown
                .header-cotegory
                  %i.fas.fa-hashtag.header-icon.header-icon-color.mr-1
                  .header-list.mr-4 タグから検索
                .hoverdown-content
                  - @tags.each do |tag|
                    .main-tug-group
                    = link_to tag.name, search_articles_path(q: { tags_id_eq: tag.id })
              %span.accordion-ops#accordion
                .header-cotegory
                  %i.fas.fa-hashtag.header-icon.header-icon-color.mr-1
                  .header-list 詳細検索
                .header-deteil-search
                  = render 'commons/detail_search' 
          .b
            - if user_signed_in?
              - if unchecked_notifications.any?
                %i.fa.fa-circle.mb-2.ml-1
              %li.hoverdown.mr-4
                .header-cotegory
                  %i.fas.fa-bell.header-icon.header-icon-color.mr-1
                  = link_to 'お知らせ', notifications_path, class: 'header-list' 
                .hoverdown-content
              %li.hoverdown
                = image_tag current_user.avatar_image, class: 'user-avatar hoverbtn'
                .hoverdown-content
                  = link_to 'プロフィール', profile_path
                  = link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' }
    
    - if flash.present?
      .flash
        - flash.each do |key, value|
          %div{:class => key}= value
    = yield
    .footer-img
      = image_tag 'メイン.jpeg',class: 'footer-content'
    .footer
      = link_to 'Soldier Reviews', root_path, class: 'app-title'
      
    = javascript_pack_tag 'header_accordion'